<div id="menu" class="clearfix"><ul>
    <li><a href="/">Welcome</a>
        <ul style="visibility: hidden;">
            <li><a href="who-is-gavin-kewley.html">Who is Gavin Kewley?</a></li>
            <li><a href="who-i-work-with.html">Who I work with</a></li>
            <li><a href="personal-life-coaching.html">What's it all about?</a></li>
        </ul>
    </li>
    <li><a href="professional-executive.html">Professional</a>
        <ul style="visibility: hidden;">
            <li><a href="performance-development.html">Performance Development </a></li>
            <li><a href="personal-excellence.html">Personal Excellence </a></li>
            <li><a href="getting-balance-back-into-work.html">Getting balance back into work</a></li>
        </ul>
    </li>
    <li><a href="youth-coaching.html">Youth</a>
        <ul style="visibility: hidden;">
            <li><a href="increased-happiness.html">Increased Happiness</a></li>
            <li><a href="making-learning-happen.html">Making Learning Happen</a></li>
            <li><a href="balancing-relationships.html">Balancing Relationships</a></li>
        </ul>
    </li>
    <li><a href="life-coaching.html">Life</a>
        <ul>
            <li><a href="increased-happiness.html">Increased Happiness</a></li>
            <li><a href="positive-lifestyle-change.html">Positive Lifestyle Change</a></li>
            <li><a href="interpersonal-relationships.html">Interpersonal Relationships</a></li>
        </ul>
    </li>
    <li><a href="training-workshops.html">Workshops</a>
        <ul style="visibility: hidden;">
            <li><a href="professional-training.html">Professional Training</a></li>
            <li><a href="active-learning-awaydays.html">Active Learning Awaydays</a></li>
            <li><a href="free-seminars.html">Free Seminars</a></li>
        </ul>
    </li>
    <li><a href="contact.html">Contact</a></li>
</ul></div>
