<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>Gavin Kewley - Personal and Professional life coach - {{page.title}}</title>
    <meta name="description" content="Personal and professional coaching. Positive, non-judgemental and confidential with a nationally recognised coach." >
    <meta name="keywords" content="in2uition, accelerated learning, Gavin Kewley, Gavin, Kewley, coaching, performance, improving learning performance, study skills, learn to learn, tools for thinking, critical thinking, recognise potential, active learning, NLP, neuro linguistic programming, Alite, Learning South West, Stands For Education, sfe, Beacon Colleges, Excellence in Cities, Specialist Schools Trust, LSC, Learning and Skills Council, inset, INSET, Inset, teaching, teaching and learning, students, kids, pupils, classroom, school">
    <link rel="stylesheet" type="text/css" href="css/reset-min.css" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <!--[if IE]>
    <link rel="stylesheet" type="text/css" href="css/style-ie.css" />
    <![endif]-->
    <!--[if lt IE 7.]>
    <script defer type="text/javascript" src="js/pngfix.js"></script>
    <![endif]-->
    <meta http-equiv="imagetoolbar" content="no">
    <script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="js/jquery-plugins.js"></script>
    <script type="text/javascript" src="js/zapcat.js"></script>
    <script type="text/javascript" src="js/simplecms.js"></script>
</head>
<body>
<div id="container">
    <div id="header">
        <h1><a href="/" ><img src="images/logo.png"
                              alt="Gavin Kewley, Personal and Professional Life Coach"
                              title="Gavin Kewley, Personal and Professional Life Coach" width="355px" height="61px"/></a></h1>

    </div>
    {% include menu.html %}
    {{ content }}
</div>
</body>
</html>
